section.header
    nav
        a(href='#')
            img.logo-main(src='img/logo-white.png' alt='Events')
        div.nav-links 
            ul
                li: a(href='#') My Bookings 
                li: a(href='#') User 
                li: a(href='#') Log Out 
