.card-container 
    .card 
        .card__header 
            img(src='post-creater-image' alt='post-creater')
            span Organiser Name 
        .card-details 
            .post-title
                h3 Post Title 
            .post-cover 
                img(src='post-cover-image' alt='post-cover')
            .post-artists 
                ul 
                    li: a(href='#') artist 1
                    li: a(hre='#') artist 2
            .post-description 
                p post description here 
            .post-time 
                span post dates 
                span post venue 
            .post-book 
                .book-btn 
                    a
                        button(type='button') Book Now
